/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Default;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 3px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	max-id: 4;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-spacing-x: 15;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-content-style-tag: p;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #f5f5f5;
	color: #000000;
	name: Header1;
	id: 3;
	font-weight: 100;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	size: 48px;
	background-color: ;
	cell-content-style-tag: p;
	cell-padding-left: 5px;
	text-align: center;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Default
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 3px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 3px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-spacing: 15px 0px;
}

.TableStyle-Default-Column-Column1
{
	
}

.TableStyle-Default-Head-Header1
{
	
}

.TableStyle-Default-HeadI-Column1-Header1
{
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
}

.TableStyle-Default-HeadI-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Default-HeadE-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-HeadF-Column1-Header1
{
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Default-HeadF-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
}

.TableStyle-Default-HeadH-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-HeadD-Column1-Header1
{
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Default-HeadD-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-HeadC-Column1-Header1
{
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
}

.TableStyle-Default-HeadC-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
}

.TableStyle-Default-HeadB-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-HeadA-Column1-Header1
{
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
}

.TableStyle-Default-HeadA-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-HeadG-Column1-Header1
{
	color: #000000;
	font-weight: 100;
	background-color: #f5f5f5;
}

.TableStyle-Default-HeadG-Column1-Header1 p
{
	color: #000000;
	font-weight: 100;
}

.TableStyle-Default-Foot-Footer1
{
	
}

.TableStyle-Default-FootI-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Default-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Default-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Default-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Default-FootF-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Default-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Default-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Default-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Default-FootD-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Default-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Default-FootC-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Default-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Default-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Default-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Default-FootA-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Default-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Default-FootG-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Default-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Default-Body-Body1
{
	height: 48px;
}

.TableStyle-Default-BodyI-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
}

.TableStyle-Default-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Default-BodyE-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Default-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Default-BodyF-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Default-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Default-BodyH-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Default-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Default-BodyD-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Default-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Default-BodyC-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
}

.TableStyle-Default-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Default-BodyB-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Default-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Default-BodyA-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
}

.TableStyle-Default-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Default-BodyG-Column1-Body1
{
	text-align: center;
	background-color: ;
	padding-left: 5px;
}

.TableStyle-Default-BodyG-Column1-Body1 p
{
	
}


