/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: NewStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #7cfc00;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	background-color: #7fff00;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-NewStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-NewStyle-Column-Column1
{
	
}

.TableStyle-NewStyle-HeadI-Column1-
{
	
}

.TableStyle-NewStyle-HeadI-Column1- p
{
	
}

.TableStyle-NewStyle-HeadE-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-HeadE-Column1- p
{
	
}

.TableStyle-NewStyle-HeadF-Column1-
{
	
}

.TableStyle-NewStyle-HeadF-Column1- p
{
	
}

.TableStyle-NewStyle-HeadH-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-HeadH-Column1- p
{
	
}

.TableStyle-NewStyle-HeadD-Column1-
{
	
}

.TableStyle-NewStyle-HeadD-Column1- p
{
	
}

.TableStyle-NewStyle-HeadC-Column1-
{
	
}

.TableStyle-NewStyle-HeadC-Column1- p
{
	
}

.TableStyle-NewStyle-HeadB-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-HeadB-Column1- p
{
	
}

.TableStyle-NewStyle-HeadA-Column1-
{
	
}

.TableStyle-NewStyle-HeadA-Column1- p
{
	
}

.TableStyle-NewStyle-HeadG-Column1-
{
	
}

.TableStyle-NewStyle-HeadG-Column1- p
{
	
}

.TableStyle-NewStyle-Foot-Footer1
{
	
}

.TableStyle-NewStyle-FootI-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-NewStyle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NewStyle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootF-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NewStyle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-NewStyle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootD-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NewStyle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootC-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-NewStyle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-NewStyle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootA-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-NewStyle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootG-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-NewStyle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-Body-Body1
{
	
}

.TableStyle-NewStyle-BodyI-Column1-Body1
{
	background-color: #7cfc00;
}

.TableStyle-NewStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyE-Column1-Body1
{
	background-color: #7cfc00;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyF-Column1-Body1
{
	background-color: #7cfc00;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyH-Column1-Body1
{
	background-color: #7cfc00;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyD-Column1-Body1
{
	background-color: #7cfc00;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyC-Column1-Body1
{
	background-color: #7cfc00;
}

.TableStyle-NewStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyB-Column1-Body1
{
	background-color: #7cfc00;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyA-Column1-Body1
{
	background-color: #7cfc00;
}

.TableStyle-NewStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyG-Column1-Body1
{
	background-color: #7cfc00;
}

.TableStyle-NewStyle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-Body-Body2
{
	
}

.TableStyle-NewStyle-BodyI-Column1-Body2
{
	background-color: #7fff00;
}

.TableStyle-NewStyle-BodyI-Column1-Body2 p
{
	
}

.TableStyle-NewStyle-BodyE-Column1-Body2
{
	background-color: #7fff00;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyE-Column1-Body2 p
{
	
}

.TableStyle-NewStyle-BodyF-Column1-Body2
{
	background-color: #7fff00;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-BodyF-Column1-Body2 p
{
	
}

.TableStyle-NewStyle-BodyH-Column1-Body2
{
	background-color: #7fff00;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyH-Column1-Body2 p
{
	
}

.TableStyle-NewStyle-BodyD-Column1-Body2
{
	background-color: #7fff00;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-BodyD-Column1-Body2 p
{
	
}

.TableStyle-NewStyle-BodyC-Column1-Body2
{
	background-color: #7fff00;
}

.TableStyle-NewStyle-BodyC-Column1-Body2 p
{
	
}

.TableStyle-NewStyle-BodyB-Column1-Body2
{
	background-color: #7fff00;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyB-Column1-Body2 p
{
	
}

.TableStyle-NewStyle-BodyA-Column1-Body2
{
	background-color: #7fff00;
}

.TableStyle-NewStyle-BodyA-Column1-Body2 p
{
	
}

.TableStyle-NewStyle-BodyG-Column1-Body2
{
	background-color: #7fff00;
}

.TableStyle-NewStyle-BodyG-Column1-Body2 p
{
	
}


